.hero {
    text-align: center;
    padding: 100px 20px;
}

.button {
    background: navy;
    color: white;
    padding: 12px 24px;
    text-decoration: none;
}
.stats {
    display: flex;
    justify-content: center;
    gap: 50px;
}

body {
    font-family: 'Poppins', sans-serif;
}
